/*home view*/
div.home{
    padding: 0em 0em 2em 0em;
    text-align: center;
}

/*answering view*/
form.answering {
    font-size: 1.5em;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
label.answering:hover {
    background: #ff9737;
}
label.answering:focus {
    background: red;
}
label.answering {
    background: #4490c2;
    display: table;
    padding: 10px;
    width:100%;
    border-radius: 0.3em;
}
input[type=checkbox] {
    margin-right: 5px;
    margin-bottom: 3px;
    zoom: 1.5;
}
h1.answering {
    margin: 2em 0em 2em 0em;
    font-size: 2em;
    text-align: center;
}
#last {
    background-color: #4490c2;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 0.7em;
    display: inline-block;
    margin: 1em 0em 0em;
    overflow: visible;
    padding: 0.25em 0.7em;
    text-decoration: none;
    width: 120px;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}
#last:hover {
    background-color: #ff9737;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*submit view*/
h1.submit{
    margin-top: 3em;
    text-align: center;
    color: white;
    font-size: 5em;
}

/*index view*/
div.quezReport{
    padding: 0em 0em 2em 0em;
    text-align: center;
}

/*result view*/
form.result {
    font-size: 1.5em;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3em;
}
label.result {
    background: #4490c2;
    display: table;
    padding: 10px;
    width:100%;
    border-radius: 0.3em;
}
.mybar{
    background-color: #ff9737;
}

/*button*/
a.mybuttons {
    width: 120px;
    background-color: #4490c2;
    text-align: center;
    margin: 0 1.42em 0 0;
    color: white;
}

/*FIRST AND SECOND PAGE*/
#teacher{
    color: white;
    width: 15em;
    height: 3em;
    margin: 5em 0em 0em 0em;
    font-size: 2em;
    background: #da7f2f;
}
#teacher:hover {
    background: border-box;
    background: #ff9737;
}
#noAnswer{
    color: white;
    width: 15em;
    height: 3em;
    margin: 3.5em 0em 0em 0em;
    font-size: 2em;
    background: #4490c2;
}
#noAnswer:hover {
    background: border-box;
    background: #58b0f0;
}
#quiz{
    color: white;
    width: 15em;
    height: 3em;
    margin: 5em 0em 0em 0em;
    font-size: 2em;
    background: #da7f2f;
}
#quiz:hover {
    background: border-box;
    background: #ff9737;
}
#student {
    color: white;
    width: 15em;
    height: 3em;
    margin: 2em 0em 0em 0em;
    font-size: 2em;
    background: #4490c2;
}
#student:hover {
    background: border-box;
    background: #58b0f0;
}
#report {
    color: white;
    width: 15em;
    height: 3em;
    margin: 2em 0em 0em 0em;
    font-size: 2em;
    background: #da7f2f;
}
#report:hover {
    background: border-box;
    background: #ff9737;
}
#reportDisabled {
    color: #a8a8a8;
    width: 15em;
    height: 3em;
    margin: 2em 0em 0em 0em;
    font-size: 2em;
    background: #d6d6d6;
    border: solid 1px #b0b0b0;
}

/*show views*/
div#centered {
    margin-top: 2em;
    line-height: 2em;
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
}

label.showAnswer {
    width: 100%;
    padding: 0;
    border-radius: 0.3em;
    text-align: center;
    color: #e1e1e1;
    font-size: 1.1em;
}